@model IEnumerable<TravelReservation.Models.Reservation>

<h2>Mis Reservas</h2>

<table class="table">
    <thead>
        <tr>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha de Salida</th>
            <th>Fecha de Llegada</th>
            <th>Fecha de Reserva</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.Flight?.Origin</td>
                <td>@reservation.Flight?.Destination</td>
                <td>@reservation.Flight?.DepartureDate</td>
                <td>@reservation.Flight?.ArrivalDate.</td>
                <td>@reservation.ReservationDate</td>
            </tr>
        }
    </tbody>
</table>
